{
  "presets": [
    ["latest", {
      "es2015": false,
      "targets": {
        "browsers": [ ">0.5%", "not ie 11", "not op_mini all" ]
      }
    }],
    "stage-0"
  ],
  "plugins": [
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": false,
      "moduleName": "babel-runtime"
    }]
  ],
  "minified": true
}